<ion-content>
  <ion-fab left top>
    <button icon-only ion-fab menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-fab>

  <div id="map">
  </div>
  
  <ion-fab right top class="logo">
    <button ion-fab (click)="toAboutPage()">
      <img src="./assets/imgs/logo_tr.png">
    </button>
  </ion-fab>

  <ion-card padding>
    <div>
      <ion-item (ngSubmit)="createCircle()" *ngIf="lineSelected">
        <ion-label>Seleccione Línea</ion-label>
        <ion-select 
        [(ngModel)]="coletto.line" 
        [selectOptions]="colettoLineOptions" 
        interface="popover"
        placeholder="Elija Una"
        >
          <ion-option value="7A" (ionSelect)="lineaSelected()">Línea 7A</ion-option>
          <ion-option value="7B" (ionSelect)="lineaSelected()">Línea 7B</ion-option>
          <ion-option value="109" (ionSelect)="lineaSelected()">Línea 109</ion-option>
          <ion-option value="33" (ionSelect)="lineaSelected()">Línea 33</ion-option>
          <ion-option value="31" (ionSelect)="lineaSelected()">Línea 31</ion-option>
    
        </ion-select>
      </ion-item>
      <ion-item *ngIf="ruteSelected && !lineSelected && !buttonOpen">
        <ion-label>Seleccione Ruta</ion-label>
        <ion-select 
        [(ngModel)]="coletto.rute" 
        [selectOptions]="colettoLineOptions" 
        interface="popover"
        placeholder="Elija Una"
        >
          <ion-option value="Plan - Cerro" (ionSelect)="rutesSelected()" color="red">Plan - Cerro</ion-option>
          <ion-option value="Cerro - Plan" (ionSelect)="rutesSelected()">Cerro - Plan</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div align="center" class="bgInfo">
      <ion-row>
        <ion-col col-4>
          <p class="selected" *ngIf="!lineSelected"> Línea <b>{{coletto.line}}</b> </p>
        </ion-col>
        <ion-col col-8>
          <p class="selected" *ngIf="buttonOpen"> Ruta <b>{{coletto.rute}}</b> </p>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
        <div align="center">
          <!--button ion-button round *ngIf="buttonOpen">
            <b>Buscar Coletto</b>
          </button-->
          <p *ngIf="buttonOpen&&noColetto" class="selected">No hay colectivos disponibles</p>
        </div>
      </ion-col>
      <ion-col>
        <div align="center">
          <button ion-button round *ngIf="buttonOpen" (click)="back()" color="miniFabBotton">
            <b>Volver selección</b>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
<ion-footer padding *ngIf="!first">
  <p class="footer" align="center"><b>Aqui habrá AdWords</b></p>
</ion-footer>