page-home {

    .card.card-md{
        border-radius: 20px;
        position: absolute;
        bottom: 20px;
        height: 180px;
        background-color: color($colors, primary);
    }

    .fab-md-primary {
        color: color($colors, primary);
        background-color: transparent;
    }

    .fab-md{
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: transparent;
    }

    .fab ion-icon {
        font-size: 3.4rem;
    }

    .logo{
        .fab-md{
            background-color: transparent;
        }
    }

    .selected{
        font-size: 20px;
        text-align: center;
        color: color($colors, secondary)
    }

    .logout{
        font-size: 7vw;
        position: relative;
        text-align: center;
    }

    #map{
        display: block;
        height: 100%;
        width: 100%;

    }

    .logo{
        width: 60px;
    }

    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0;
    }

    .item-md{
        background-color: transparent;
    }

    .label.label-md{
        color: color($colors, secondary)
    }

    .select-md .select-icon .select-icon-inner{
        color: color($colors, secondary)
    }

    .select-placeholder.select-text{
        color: color($colors, secondary)
    }

    .select-text{
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;;
    }

    .label.label-md{
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;;
    }

    .scroll-content {
        background-color: color($colors, light);
    }

    .gm-style-cc{
        div{
            opacity: 0;
        }
    }

    .slide-one{
        position: absolute;
        top: 10px
    }
    
}
